%div#edit_instance_tags
   -unless get_available_tags(@tag, @the_instance.id).empty?
      %div#available_instance_tags_js
         = render '/taggables/available_instance_attributes_js.haml'
   
   %div#added_instance_tags
      = render '/taggables/added_instance_attributes_js.haml'