-title "Bows"

%p
  = link_to t('common.new'), new_bow_path

-for bow in @bows
  %div.bow_index_element
    -unless bow.tags.find_by_parent_id(nil).nil?
      %p
        -get_added_tags(bow.tags.find_by_parent_id(nil), bow.id).each do |tag|
          -if tag.children.empty?
            %strong   
              =tag.tag_names.find_by_language(get_locale.to_s).value
              =':'
            -if tag.value_type.to_s.eql?('preisfeld')
              ='Euro '+ get_price_format(TagValue.find_by_language_and_tag_id_and_taggable_id('de', tag.id, bow.id).value)
            -else
              =TagValue.find_by_language_and_tag_id_and_taggable_id('de', tag.id, bow.id).value
          -else
            %strong   
              =tag.tag_names.find_by_language(get_locale.to_s).value
              =':'
            =tagged_tag_name(tag, bow)
          %br
    %p
      = link_to t('common.show'), bow 

 
