%p
  -form_tag search_item_path, :class => 'item_search' do
    =text_field_tag :search_input, @search_input, :class => 'text_box', :autocomplete => "off"
    =hidden_field_tag :taggable_type, '', :value => @taggable_type
