h1 { font-size: 1.2em; width: 100%; }

h2 { font-size: 1em; }

p { font-size: .8em; }

#nav_top { float: right; margin-bottom: 20px; }
#nav_top a { color: grey; }

#content { clear: both; }

.show_user_tags_container { margin: 1em; float: left; }
.show_user_tags_container a { font-size: .7em; }
.show_user_tags_container p { font-size: 1em; }

.show_user_tags_container_first_sub_level { padding-left: 1em; }
.show_user_tags_container_first_sub_level p { font-size: 0.9em; }

.show_user_tags_container_second_sub_level { padding-left: 2em; }
.show_user_tags_container_second_sub_level p { font-size: 0.8em; }

.show_user_tags_container_third_sub_level { padding-left: 3em; }
.show_user_tags_container_third_sub_level p { font-size: 0.8em; }

#edit_user_tags { display: none; padding: 10px; background-color: #0d9911; margin-bottom: 10px; clear: both; overflow: hidden; border: thin solid black; }
#edit_user_tags .tag_left { float: left; background-color: white; padding: 1%; width: 47%; border: thin solid black; }
#edit_user_tags .tag_right { float: right; background-color: white; padding: 1%; width: 47%; border: thin solid black; }

#edit_specific_user_tags { display: none; }

.tag_sub_container { padding: 10px; background-color: #0d9911; margin-bottom: 10px; clear: both; overflow: hidden; border: thin solid black; }
.tag_sub_container .tag_left { float: left; background-color: white; padding: 1%; width: 47%; border: thin solid black; }
.tag_sub_container .tag_right { float: right; background-color: white; padding: 1%; width: 47%; border: thin solid black; }

.disabled { background: black; position: absolute; z-index: 9999999; opacity: 0.5; filter: alpha(opacity=50); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; }
