h1 { font-size: 18px; width: 100%; }

h2 { font-size: 16px; }

p { font-size: 14px; }

p.error { display: none; color: red; }

a { text-decoration: none; color: #0000FF; }
a img { border: none; }

.text_area { width: 100%; height: 200px; font-size: 13px; padding: 3px; }

.text_box { width: 100%; height: 30px; font-size: 13px; padding: 1px; }

#nav_top { float: left; margin-bottom: 20px; }

#content { clear: both; }

.show_user_tags_container { margin: 1em; float: left; }

.show_user_tags_container_first_sub_level { padding-left: 1em; }

.show_user_tags_container_second_sub_level { padding-left: 2em; }

.show_user_tags_container_third_sub_level { padding-left: 3em; }

#available_instance_tags, #available_instance_tags_js { border: medium solid; border-color: #666666; float: left; width: 20%; }

.available_tags_header { background: #666666; padding: 5%; color: white; font-weight: bold; }
.available_tags_header a { float: right; }
.available_tags_header img { height: 20px; }

.available_tags_body { padding: 5%; }
.available_tags_body a { float: right; }
.available_tags_body img { height: 15px; }

#added_instance_tags { border: medium solid; border-color: #666666; float: right; width: 75%; padding: 1%; }

#added_instance_tags_full { width: 98%; padding: 1%; overflow: hidden; }

.instance_tag { border: thin solid black; background-color: #eaeaea; padding: 10px; }

.instance_tag_js { border-bottom: thin solid black; padding: 10px; display: :block; min-height: 30px; }

.hidden { display: none; }

.visible { display: block; }

.edit_tag_links { display: none; float: right; }
.edit_tag_links a { float: right; }

.tag_text { width: 80%; float: left; }

.instance_tag_show { overflow: hidden; }

.instance_index_element { background: #eaeaea; border-bottom: solid thin black; padding: 10px; }

.photo_upload { float: right; clear: both; width: 75%; padding: 15px; }

#divFileProgressContainer { display: none; }

.new_thumbs_out { width: 153px; overflow: hidden; float: left; clear: none; }

.popupContact { display: none; position: fixed; text-align: center; position: absolute; background: #FFFFFF; border: 5px solid #000000; z-index: 99999999; padding: 12px; font-size: 13px; }

#popup_background { width: 100%; height: 100%; margin: -10px; margin-top: -20px; display: none; background: black; position: fixed; z-index: 99999998; background-image: url('/images/ajax-loader_balken.gif'); background-repeat: no-repeat; background-position: center; opacity: 0.9; filter: alpha(opacity=90); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; }

#instance_info { float: left; width: 55%; }
#instance_info table { padding: 10px; }
#instance_info table tr { border: thin solid black; }
#instance_info table tr td { padding: 3px; vertical-align: top; }

#thumbnails_show { float: right; width: 45%; }
