h1 { font-size: 18px; width: 98%; color: #6B464F; }
h1 a { text-decoration: none; color: #66261D; }

.h1 { font-size: 18px; }

h2 { font-size: 13px; color: #38002B; }

p { font-size: 12px; }

p.error { display: none; color: red; }

a { text-decoration: none; color: #4D1C15; }
a img { border: none; }

a:hover { color: #7C321F; }

.right { float: right; }
.right h1 { width: 100%; }

.search_text { float: right; width: 29%; background-image: url('/images/shadow.gif'); background-repeat: repeat-x; padding: 5px; border: thin #000 solid; font-size: 14px; font-weight: bold; -moz-border-radius: 5px; -khtml-border-radius: 5px; }

.right_break { float: right; clear: both; padding-top: 10px; }

.text_area { width: 98%; height: 200px; font-size: 12px; padding: 3px; font-family: Verdana; }

.mceEditor { width: 100%; height: 400px; }

.text_box { width: 650px; height: 25px; font-size: 13px; padding: 10px; padding-top: 1px; padding-bottom: 1px; background-image: url('/images/tb_bg.tiff'); background-repeat: repeat-x; }

#container { clear: both; width: 1000px; margin: 0 auto; margin-top: 10px; margin-bottom: 30px; background: transparent; padding: 15px; padding-top: 0px; overflow: hidden; min-height: 500px; }

#header { width: 1000px; margin: 0 auto; margin-top: 0; padding: 15px; padding-top: 0px; overflow: visible; height: 70px; font-family: Verdana; color: #fff; background-image: url('/images/logo.jpg'); background-repeat: no-repeat; background-position: -10px -40px; }

.header_left { float: left; }
.header_left span.logo_large { float: left; font-size: 19pt; }
.header_left span.logo_large a { color: #fff; }
.header_left span.logo_small { clear: both; float: left; font-size: 8pt; }
.header_left span.logo_small a { color: #fff; }

#nav_left { clear: right; float: right; height: 40px; width: 800px; }

#nav_right { padding-top: 10px; padding-right: 1%; float: right; text-align: right; height: 35px; }

#content { clear: both; }
#content a { font-weight: bold; }
#content ul { list-style-type: disc; }

#content_2 { clear: none; float: left; width: 88%; overflow: hidden; padding-right: 1%; border-right: thin solid; border-color: #666666; }
#content_2 a { font-weight: bold; }
#content_2 ul { list-style-type: disc; }

#adds { float: right; width: 10%; margin-top: 55px; }
#adds img { width: 99%; float: right; margin-bottom: 10px; border: medium solid; border-color: #666666; -moz-border-radius: 5px; -khtml-border-radius: 5px; }
#adds h2 { font-weight: bold; width: 100%; text-align: right; }

.add_images { padding-top: 10px; margin-top: 10px; clear: right; float: right; width: 410px; }
.add_images img { width: 20%; float: right; clear: right; padding: 2%; margin-bottom: 10px; border: medium solid; border-color: #666666; -moz-border-radius: 5px; -khtml-border-radius: 5px; }
.add_images h2 { font-weight: bold; width: 100%; text-align: right; }

#footer { background-image: url('/images/bg.jpg'); background-repeat: repeat-x; margin: 0; bottom: 0; left: 0; width: 100%; position: fixed; font-family: Verdana; color: #fff; }
#footer .content { width: 1000px; margin: 0 auto; text-align: center; }
#footer .content ul { margin: 0; padding: 2px; }
#footer .content ul li { display: inline; margin: 0; padding: o; }
#footer .content ul li a { color: #fff; padding: 0.2em; padding-left: 4px; padding-right: 4px; margin: 1%; }
#footer .content ul li a:hover { color: #000; background: #fff; font-weight: bold; -moz-border-radius: 5px; -khtml-border-radius: 5px; }

#available_instance_tags, #available_instance_tags_js { border: thin solid; border-color: #666666; float: left; width: 20%; }

.tags_header { background-image: url("/images/h2bg.png"); background-repeat: repeat-x; padding: 5px; color: white; font-weight: bold; }
.tags_header a { float: right; }
.tags_header img { height: 15px; }
.tags_header h2 { font-size: 13px; color: white; padding: 0; margin: 0; }

.tags_body { padding: 5%; }
.tags_body a { float: left; margin-right: 10px; }
.tags_body img { height: 15px; }

#edit_instance_tags_js { overflow: hidden; margin-top: 30px; }

#added_instance_tags { border: thin solid; border-color: #666666; border-bottom: none; float: right; width: 77%; }

#workshop_description { margin-top: 20px; float: left; margin-left: 5px; width: 99%; }
#workshop_description textarea { width: 100%; height: 300px; border: medium solid; border-color: #666666; }

#added_instance_tags_full { width: 98%; padding: 1%; overflow: hidden; }

.instance_tag { border: thin solid; border-color: #666666; padding: 10px; }

.instance_tag_js { display: :block; border-bottom: solid thin black; font-size: 13px; }

.instance_tag_show { padding: 10px; }

.instance_tag_edit { padding: 10px; }

.hidden { display: none; }

.visible { display: block; }

.edit_tag_links { display: none; float: right; clear: none; }
.edit_tag_links a { float: right; }

.tag_text { width: 80%; float: left; }

.instance_tag_show { overflow: hidden; }

.instance_index_element { padding: 5px; }

.photo_upload { float: left; clear: both; width: 99.9%; margin-top: 15px; }
.photo_upload p { padding: 5px; }
.photo_upload h2 { background-image: url("/images/h2bg.png"); background-repeat: repeat-x; color: #fff; margin: 0; padding: 5px; }
.photo_upload h2 img { height: 16px; float: right; }

#divFileProgressContainer { display: none; }

.new_thumbs_out { width: 85px; overflow: hidden; float: left; clear: none; }

.popupContact { display: none; position: fixed; text-align: center; position: absolute; background: #FFFFFF; border: 5px solid #000000; z-index: 999999; padding: 12px; font-size: 13px; overflow: auto; }

#popup_background { width: 100%; height: 100%; display: none; background: black; position: absolute; left: 0; top: 0; z-index: 99999; background-image: url('/images/ajax-loader_balken.gif'); background-repeat: no-repeat; background-position: center; opacity: 0.9; filter: alpha(opacity=90); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; }

#instance_info { float: left; width: 48%; background: transparent; border: thin solid; border-color: #666666; overflow: hidden; padding: 5px; }
#instance_info h2 { background-image: url("/images/h2bg.png"); background-repeat: repeat-x; color: #fff; margin: -5px; margin-bottom: 5px; padding: 5px; }

#instance_info:hover { border: thin solid; border-color: #666666; }
#instance_info:hover h2 { background-color: #250672; color: #fff; }

table { padding: 10px; }
table tr { border: thin solid black; }
table tr td { padding: 3px; vertical-align: top; }

#thumbnails { width: 97.5%; margin-top: 10px; padding: 1%; background: transparent; overflow: hidden; }

#thumbnails_show { float: right; width: 46%; background: transparent; border: thin solid; border-color: #666666; overflow: hidden; padding: 5px; }
#thumbnails_show h2 { background-image: url("/images/h2bg.png"); background-repeat: repeat-x; color: #fff; margin: -5px; margin-bottom: 5px; padding: 5px; }

#thumbnails_show:hover { border: thin solid; border-color: #666666; }
#thumbnails_show:hover h2 { background-color: #7147D7; color: #fff; }

#workshop_thumbnails_show { float: left; width: 49%; background: transparent; border: thin solid; border-color: #666666; overflow: hidden; padding: 5px; clear: left; margin-top: 10px; }
#workshop_thumbnails_show h2 { background-image: url("/images/h2bg.png"); background-repeat: repeat-x; color: #fff; margin: -5px; margin-bottom: 5px; padding: 5px; }

#workshop_thumbnails_show:hover { border: thin solid; border-color: #666666; }
#workshop_thumbnails_show:hover h2 { background-color: #7147D7; color: #fff; }

#show_workshop_description { float: left; width: 49%; background: transparent; border: thin solid; border-color: #666666; overflow: hidden; padding: 5px; margin-top: 5px; }
#show_workshop_description h2 { background-image: url("/images/h2bg.png"); background-repeat: repeat-x; color: #fff; margin: -5px; margin-bottom: 5px; padding: 5px; }

#show_workshop_description:hover { border: thin solid; border-color: #666666; }
#show_workshop_description:hover h2 { background-color: #7147D7; color: #fff; }

#show_workshop_tags { width: 47%; float: right; background: transparent; clear: none; margin: 0; padding: 0; }
#show_workshop_tags .show_workshop_tags_item { clear: none; width: 100%; float: right; background: transparent; border: thin solid; border-color: #666666; margin: 0; padding: 0; }
#show_workshop_tags .show_workshop_tags_item h2 { background-image: url("/images/h2bg.png"); background-repeat: repeat-x; color: #fff; margin: 0; padding: 1%; }
#show_workshop_tags .show_workshop_tags_item img { height: 16px; float: right; }
#show_workshop_tags .show_workshop_tags_item:hover { border: thin solid; border-color: #666666; cursor: pointer; }
#show_workshop_tags .show_workshop_tags_item:hover h2 { background-color: #7147D7; color: #fff; }

#show_user_tags { width: 80%; float: right; background: transparent; clear: none; }
#show_user_tags .show_user_tags_item { width: 100%; }

.spanButtonPlaceholderDiv { background: black; width: 150px; height: 40px; }

#profile_info { width: 19%; float: left; }

.list_index { clear: left; margin-bottom: 10px; overflow: hidden; padding: 10px; width: 530px; border: thin solid; border-color: #666666; background: white; -moz-border-radius: 5px; -khtml-border-radius: 5px; }

.list_index:hover { background: #F0E6A1; }

.image { float: left; width: 140px; }

.info { float: left; width: 370px; padding-left: 10px; }

.row { width: 98.5%; background-image: url("/images/row_bg.png"); background-repeat: repeat-x repeat-y; padding: 1%; }

.row:hover { background: #628934; }

.ajax_center_wide { width: 550px; background-image: url('/images/ajax-loader_balken.gif'); background-repeat: no-repeat; background-position: center; }

.google_map_start { margin-top: 10px; float: right; clear: right; overflow: hidden; border: medium solid; border-color: #666666; -moz-border-radius: 5px; -khtml-border-radius: 5px; width: 48%; }

.google_map { margin-top: 10px; margin-bottom: 10px; float: right; clear: right; overflow: hidden; border: medium solid; border-color: #666666; -moz-border-radius: 5px; -khtml-border-radius: 5px; width: 410px; }

.start_left { clear: none; float: left; width: 48%; }

.start_right { clear: right; float: right; margin-top: 20px; width: 48%; }

.site_left { float: left; width: 48%; }

.site_right { float: right; width: 48%; }

.site_full { float: left; width: 100%; clear: both; }

.site img { float: left; padding-right: 10px; padding-bottom: 5px; }

.request_content { width: 900px; text-align: left; }

span.small { font-size: 12px; }

.change_tab { padding: 5px; border: medium solid; border-color: #666666; }
