- if request.url.include?('parent_id')
   %h1
      =get_parent_tag(@tag).tag_names.find_by_language(get_locale.to_s).value
%div.tag_left
   %h2
      = t('tag.available')
   -unless get_available_tags(@tag).empty?
      -get_available_tags(@tag).each do |tag|
         %p
            = link_to t('common.add'), add_taggings_path(:tag => tag, :taggable_id => current_user, :taggable_type => tag.taggable_type, :level  => 0), :class => 'add_tag_root'
            =tag.tag_names.find_by_language(get_locale.to_s).value
 
%div.tag_right
   %h2
      = t('tag.added')
   -unless get_user_tags(@tag).empty?
      -get_user_tags(@tag).each do |tag|
         %p
            -unless Tag.find_all_by_parent_id(tag.id).empty?
               =link_to t('common.edit'), edit_inner_user_taggings_path(:parent_id => tag.id, :level  => 1), :class => 'edit_tag_first'
            =link_to t('common.remove'), remove_taggings_path(:tag => tag, :taggable_id => current_user, :taggable_type => tag.taggable_type, :level  => 0), :class => 'remove_tag_root'
            =tag.tag_names.find_by_language(get_locale.to_s).value