%div#edit_instance_tags_js
  %div#available_instance_tags_js
    = render '/taggables/available_instance_attributes_js.haml'
  
  %div#added_instance_tags
    = render '/taggables/added_instance_attributes_js.haml'
      
      
      
=render '/photos/file_upload_js'

%div.photo_upload
  %h2
    =t('common.photo_gallery')
    %span.open
      =image_tag '/images/down.png'
    %span.close
      =image_tag '/images/up.png'
    
  %div.new_image_upload_form
      
    -unless @photos.size > @the_instance.maximum_file_count - 1
      =render '/photos/upload_form'
    
  -if @photos.size > 0
    %div#thumbnails
      =render '/photos/thumbnails'
      
  
%div#divFileProgressContainer