=javascript 'popup'
=render '/requests/popup.haml'
%strong
  %p
    =t('request.step2')
  
%div.left
  %h1
    =link_to t("common.preview"), "/requests/#{@the_instance.id}",  :class => 'request_popup', :rel => "popup"
  
%div#edit_instance_tags_js

  %div#available_instance_tags_js
    = render '/taggables/available_instance_attributes_js.haml'
  
  %div#added_instance_tags
    = render '/taggables/added_instance_attributes_js.haml'
  
  