<% title "Anfragen" %>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>
  <% for request in @requests %>
    <tr>
      <td><%=h request.name %></td>
      <td><%=h request.email %></td>
      <td><%= link_to "Anzeigen", request %></td>
      <td><%= link_to "Löschen", request, :confirm => 'Sicher?', :method => :delete %></td>
    </tr>
  <% end %>
</table>


