=f.error_messages

=f.hidden_field :taggable_type, :value  => taggable_type

-if request.url.include?('parent_tag')
   =f.hidden_field :parent_id, :value => request.url.scan(/parent_tag=(\w+)/).to_s

-if @tag.children.empty? && @tag.parent_id.nil? && !request.url.include?('new')
   =f.select :value_type, options_for_select(%w{preisfeld einzelfeld textfeld beschreibungsfeld}, :selected => (@tag.value_type))

%p
   %strong
      = f.label :german_name, t('common.german_name')
      = f.text_field :german_name
         
%p
   %strong
      = f.label :english_name, t('common.english_name')
      = f.text_field :english_name


