=@type_of_item
%div.search_text
  -if @taggable_type.to_s.eql?('Stringg')
    =t('instrument.search_text')
  -elsif @taggable_type.to_s.eql?('Bow')
    =t('bow.search_text')

= render "/search/item_search.haml"



%div.item_ajax_search

  = render '/items/index.haml'

 
