-if current_user
  %p
    = link_to t('common.new'),  request.url.scan(/taggable_type=(\w+)/).to_s.downcase.pluralize << "/new?taggable_type=#{request.url.scan(/taggable_type=(\w+)/).to_s}"

= render "/search/item_search.haml"

%div.item_ajax_search

  = render '/items/index.haml'

 
