-@added_tags.each do |tag|
  %p
    %div#instance_tag_with_children.instance_tag_js
    
      %div.instance_tag_show.visible
        %strong   
          =tag.tag_names.find_by_language(get_locale.to_s).value
        -unless added_child_tags(tag, @the_instance.id).empty?
          =':'
          =added_child_tags(tag, @the_instance.id).collect {|_tag| _tag.tag_names.find_by_language(get_locale.to_s).value}.join(", ")

        
        -unless added_child_tags(tag, @the_instance.id).empty? && !tag.parent_id.nil?  
          %div.edit_tag_links
            =link_to image_tag('/images/delete.png', :width => 20), remove_taggings_path(:tag => tag.id, :taggable_id => @the_instance.id, :taggable_id => @the_instance.id, :taggable_type => tag.taggable_type)
            =link_to image_tag('/images/forward.png', :width => 20), refresh_available_tags_path(:taggable_type => tag.taggable_type, :taggable_id => @the_instance.id, :tag => tag.id), :rel => 'edit_workshop_tags'
        -else
          %div.edit_tag_links
            =link_to image_tag('/images/delete.png', :width => 20), remove_taggings_path(:tag => tag.id, :taggable_id => @the_instance.id, :taggable_id => @the_instance.id, :taggable_type => tag.taggable_type)