!green_one = white
!gray = #EAEAEA

=opacity(!value)
  :opacity= !value
  :filter alpha(opacity=#{!value * 100})
  :-ms-filter "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{!value*100})"

h1
  :font-size 18px
  :width 100%

h2
  :font-size 16px

p
  :font-size 14px

p.error
  :display none
  :color red

a
  :text-decoration none
  :color #0000FF
  
  img
    :border none

.text_area
  :width 300px
  :height 200px
  :font-size 13px
  :padding 3px

.text_box
  :width 300px
  :height 30px
  :font-size 13px
  :padding 1px

#nav_top
  :float left
  :margin-bottom 20px
  

#content
  :clear both

.show_user_tags_container
  :margin 1em
  :float left

.show_user_tags_container_first_sub_level
  :padding-left 1em

.show_user_tags_container_second_sub_level
  :padding-left 2em
    
.show_user_tags_container_third_sub_level
  :padding-left 3em

#available_instance_tags, #available_instance_tags_js
  :background = !green_one
  :border thin solid black
  :float right
  :width 30%
  :padding 10px
    
#added_instance_tags
  :background = !green_one
  :border thin solid black
  :float left
  :width 60%
  :padding 10px

.instance_tag
  :border thin solid black
  :background-color = !gray
  :padding 10px

.instance_tag_js
  :border-bottom thin solid black
  :padding 10px
  :display :block

.hidden
  :display none
  
.visible
  :display block

.edit_tag_links
  :display none
  :float right

.instance_index_element
  :background = !gray
  :border-bottom solid thin black 
  :padding 10px
  