!big_tags_container = #0D9911

=opacity(!value)
  :opacity= !value
  :filter alpha(opacity=#{!value * 100})
  :-ms-filter "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{!value*100})"

h1
  :font-size 1.2em
  :width 100%
h2
  :font-size 1em

p
  :font-size .8em

#nav_top
  :float right
  :margin-bottom 20px
  a
    :color grey

#content
  :clear both

.show_user_tags_container
  :margin 1em
  :float left
  a
    :font-size .7em
  p
    :font-size 1em

.show_user_tags_container_first_sub_level
  :padding-left 1em
  p
    :font-size 0.9em

.show_user_tags_container_second_sub_level
  :padding-left 2em
  p
    :font-size 0.8em
    
.show_user_tags_container_third_sub_level
  :padding-left 3em
  p
    :font-size 0.8em

#edit_user_tags
  :display none

.root_tags
  :padding 10px
  :background-color = !big_tags_container
  :margin-bottom 10px
  :clear both
  :overflow hidden
  :border thin solid black
  
  .tag_left
    :float left
    :background-color = white
    :padding 1%
    :width 47%
    :border thin solid black

  .tag_right
    :float right
    :background-color = white
    :padding 1%
    :width 47%
    :border thin solid black


#edit_specific_user_tags
  :display none

  
.tag_sub_container
  :padding 10px
  :background-color = !big_tags_container
  :margin-bottom 10px
  :clear both
  :overflow hidden
  :border thin solid black
  
  .tag_left
    :float left
    :background-color = white
    :padding 1%
    :width 47%
    :border thin solid black

  .tag_right
    :float right
    :background-color = white
    :padding 1%
    :width 47%
    :border thin solid black
      
.disabled
  :background black
  :position absolute
  :z-index 9999999
  +opacity(0.5)