-@added_tags.each do |tag|
  %p
  -if child_tags(tag).empty?
    %div#instance_tag_without_children.instance_tag_js
    
      %div.instance_tag_show.visible
        = render '/taggables/tags_without_children_js', :tag => tag
      
      %div.instance_tag_edit.hidden
        -form_tag update_tag_values_url do 
          = render '/taggables/tags_without_children', :tag => tag
          =submit_tag t('common.update')
          =t('common.or')
          =link_to t('common.cancel'), '', :rel => 'close'
      
    
  -else
    %div#instance_tag_with_children.instance_tag_js
    
      %div.instance_tag_show.visible
        = render '/taggables/tags_with_children_js', :tag => tag
        
      %div.instance_tag_edit.hidden
        -form_tag add_tagging_and_remove_the_rest_path do
          = render '/taggables/tags_with_children', :tag => tag
          =submit_tag t('common.update')
          =t('common.or')
          =link_to t('common.cancel'), '', :rel => 'close'
          
        
        

        

    

