=hidden_field_tag :taggable_type, @the_instance.class
=hidden_field_tag :taggable_id, @the_instance.id
=hidden_field_tag :tag, tag.id
%strong   
  =tag.tag_names.find_by_language(get_locale.to_s).value
%br
= select ("child_tag", "id", options_for_select(child_tags(tag).map {|u| [u.tag_names.find_by_language(get_locale.to_s).value, u.id]}, :selected => (get_selected_child_tag_id(tag, @the_instance))), { :include_blank => false })
%br