%div.tag_text
  %strong   
    =tag.tag_names.find_by_language(get_locale.to_s).value
    =':'
  -if tag.value_type.to_s.eql?('preisfeld')
    -tagvalue = get_price_format(TagValue.find_by_language_and_tag_id_and_taggable_id('de', tag.id, @the_instance.id).value)
    -unless tagvalue.nil?
      ='Euro ' << tagvalue.to_s
  -else
    -tagvalue = TagValue.find_by_language_and_tag_id_and_taggable_id('de', tag.id, @the_instance.id)
    -unless tagvalue.nil?
      =simple_format (h tagvalue.value)

%div.edit_tag_links
  =link_to image_tag('/images/delete.png', :width => 20), remove_taggings_path(:tag => tag.id, :taggable_id => @the_instance.id, :taggable_id => @the_instance.id, :taggable_type => tag.taggable_type)
  =link_to image_tag('/images/edit.png', :width => 20), '', :rel => 'edit'