%strong   
  =tag.tag_names.find_by_language(get_locale.to_s).value
  =':'
-unless get_selected_child_tag_id(tag, @the_instance).nil?
  =Tag.find(get_selected_child_tag_id(tag, @the_instance)).tag_names.find_by_language('de').value

-if @the_instance.class.to_s.eql?('User')
  -if current_user.id == @the_instance.id
    %div.edit_tag_links
      =link_to t('common.edit'), '', :rel => 'edit'
      =t('common.or')
      =link_to t('common.remove'), remove_taggings_path(:tag => tag, :taggable_id => @the_instance.id, :taggable_id => @the_instance.id, :taggable_type => tag.taggable_type)
-else
  -if current_user.id == @the_instance.user_id
    %div.edit_tag_links
      =link_to t('common.edit'), '', :rel => 'edit'
      =t('common.or')
      =link_to t('common.remove'), remove_taggings_path(:tag => tag, :taggable_id => @the_instance.id, :taggable_id => @the_instance.id, :taggable_type => tag.taggable_type)