-title "Instruments"

%p
  = link_to t('common.new'), new_instrument_path

-for instrument in @instruments
  %div.instance_index_element
    -unless instrument.tags.find_by_parent_id(nil).nil?
      %p
        -get_added_tags(instrument.tags.find_by_parent_id(nil), instrument.id).each do |tag|
          -if tag.children.empty?
            %strong   
              =tag.tag_names.find_by_language(get_locale.to_s).value
              =':'
            -if tag.value_type.to_s.eql?('preisfeld')
              -unless TagValue.find_by_language_and_tag_id_and_taggable_id('de', tag.id, instrument.id).value.nil?
                ='Euro '+ get_price_format(TagValue.find_by_language_and_tag_id_and_taggable_id('de', tag.id, instrument.id).value)
            -else
              =TagValue.find_by_language_and_tag_id_and_taggable_id('de', tag.id, instrument.id).value
          -else
            %strong   
              =tag.tag_names.find_by_language(get_locale.to_s).value
              =':'
            =tagged_tag_name(tag, instrument)
          %br
    %p
      = link_to t('common.show'), instrument 

 
