-title "Instrument"

-if current_user && current_user.id == @the_instance.user_id
  %p
    = link_to "Destroy", @the_instance, :confirm => 'Are you sure?', :method => :delete
  %p
    = link_to "Edit", edit_instrument_taggings_url(:instance => @the_instance), :class => 'edit_instrument'

%div#edit_instrument_tags_js
  -if current_user && current_user.id == @the_instance.user_id
    %div#available_instrument_tags_js
      = render 'available_instrument_attributes_js.haml'
   
  %div#added_instrument_tags
    = render 'added_instrument_attributes_js.haml'



