-title "Instrument"

%p
  = link_to "Destroy", @the_instance, :confirm => 'Are you sure?', :method => :delete

%div#edit_instrument_tags_js
  %div#available_instrument_tags_js
    = render 'available_instrument_attributes_js.haml'
   
  %div#added_instrument_tags
    = render 'added_instrument_attributes_js.haml'



