/link_to image_tag('/images/werbe_logos/logo_ensemble.jpg'), 'http://www.thomastik-infeld.com/', :popup => true
=link_to image_tag('/images/werbe_logos/tomastik.png'), 'http://www.thomastik-infeld.com/', :popup => true
=link_to image_tag('/images/werbe_logos/petz.jpg'), 'http://www.petzkolophonium.com', :popup => true
/=link_to image_tag('/images/werbe_logos/pirastro_neu.png'), 'http://www.pirastro.com', :popup => true
