%h2
 ="Mit freundlicher Unterstützung von"
=link_to image_tag('/images/werbe_logos/pirastro.gif'), 'http://www.pirastro.com', :popup => true
=link_to image_tag('/images/werbe_logos/petz.jpg'), 'http://www.petzkolophonium.com', :popup => true
